@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
}

* {
    margin: 0;
    padding: 0;
}

.overlay h1 {
    padding: 2rem;
}

.navbar {
    display: flex;
    padding-bottom: 50px;
 }


.nav-list {
    display: flex;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
}

li {
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

a {
    color: white;
    text-decoration: none;
}

:root {
    --mainColor: #ff9800;
}

span {
    cursor: pointer;
        background:
           linear-gradient(
             to right,
             var(--mainColor) 0%,
             var(--mainColor) 5px,
             transparent 5px
           );
        background-repeat: repeat-x;
        background-size: 100%;
        color: white;
        padding-left: 10px;
        text-decoration: none;
    }

    span:hover {
        background:
         linear-gradient(
           to right,
           var(--mainColor) 0%,
           var(--mainColor) 5px,
           transparent
         );
    }
    
html {
    scroll-behavior: smooth;
}


.a:hover {
    background-color: orange;
    transition: background 700ms linear;
    -webkit-transition: background 700ms linear;
    -moz-transition: background 700ms linear;
    -ms-transition: background 700ms linear;
    -o-transition: background 700ms linear;
}

input[type=text], select, textarea, input[type=email] {
    width: 100%; 
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(49, 139, 46);
  }

    .bg-img{
    height: 100%;
    width: 100vw;
    text-align: center;
    padding-bottom: 100px;
    color: white;
    overflow: hidden;
    background: #C04848;  /* fallback for old browsers */
    background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8)), url("/DI_Bootcamp/PortfolioProject/images/cover.jpeg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8)), url("images/cover.jpeg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }

    .container1 {
        padding-bottom: 50px;
        background: linear-gradient(#ff758c, #ff7eb3);
        text-align: center;
        font-size: 1.5em;
    }

    .grid {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    margin: 20px;
    text-align: center;
    border-radius: 0.50rem;
    -webkit-border-radius: 0.50rem;
    -moz-border-radius: 0.50rem;
    -ms-border-radius: 0.50rem;
    -o-border-radius: 0.50rem;
    width: auto;
    }

    .box img {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:100%;
        height:200px;
        object-fit: fill;

}

.box img:hover {
    transform: skew(-10deg);
}

    body {
        background-color: rgb(127, 182, 255);
    }

    .overlay {
        margin: 10px 50px 20px 50px;
        text-align: center;
        font-size: 1.5rem;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0 30px 0;
        font-size: 1.5rem;
    }

    .footer {
        font-family: "Raleway";
        background-color: #444;
        text-align: center;
        color: white;
    }

    @media only screen and (max-width: 768px) {        
        
        .nav-list {
            font-size: 1em;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            }
        .container2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 20px 10px 20px;
        }
    
        .box {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

    }

    @media only screen and (max-width: 1028) {
        .nav-list {
            font-size: 1em;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            }
        .container2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 20px 10px 20px;
        }
    
        .box {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }



    /* Extra small devices (phones, 500px and down) */
@media only screen and (max-width: 500px) {
    .navbar {
        display: none;
    }
    .overlay {
        margin-top: 50px;
    }
    .overlay h1 {
        padding: 30px;
    }

    #mnav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: orange;
        position: fixed;
        width: 100%;
        flex-wrap: wrap;
    }
    .nav-list {
        display: flex;
        list-style: none;
        font-size: 0.5em;
        margin: 0;
    }
    
    li {
        padding: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
}

@media screen and (min-width: 501px){
    #mnav{ display: none; }   /* hide it on larger screens */
  }

  .container2 input{
      display: flex;
      flex-direction: row;

  }