* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.list {
    font-size: 25px;
}

.vid {
    margin: 20px;
    border: 3px solid purple;
}

.p1 {
    font-size: 19px;
    overflow: auto;
    padding: 5px;
}

.img-left {
    display: block;
    margin-left: auto;
    width: 40%;
    height: 40%;
    float: left;
    margin-bottom: 50px;
    border: 3px solid purple;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.div1 {
    margin: 0px;
    width: 720px;
  padding: 10px;
}

.img-right {
    display: block;
    margin-left: auto;
    width: 50%;
    height: 50%;
    float: right;
    margin-bottom: 50px;
  }

h1 {
    text-align: center;
    margin: auto;
    padding: 20px;
    padding-top: 70px;
    background-color: #260339
}

body {
    color: rgb(226,226,226);
    min-height: 400px;
    margin-bottom: 150px;
    clear: both;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Shippori Antique', sans-serif;
   /* background-color: #9775AA;*/
    background: linear-gradient(to right, pink, purple);
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    position: fixed;
}

.logo {
    color: rgb(226,226,226);
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
    margin-top: 10px;
}

.nav-links a {
    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 19px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        /*background-color: #9775AA;*/
        background: linear-gradient(purple, pink);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    
}

.nav-active {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
}
    to{
        opacity: 1;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
    -webkit-transform: rotate(-45deg) translate(-5px,6px);
    -moz-transform: rotate(-45deg) translate(-5px,6px);
    -ms-transform: rotate(-45deg) translate(-5px,6px);
    -o-transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
    -webkit-transform: rotate(45deg) translate(-5px,-6px);
    -moz-transform: rotate(45deg) translate(-5px,-6px);
    -ms-transform: rotate(45deg) translate(-5px,-6px);
    -o-transform: rotate(45deg) translate(-5px,-6px);
}

.bg1 {
    background-color: #582A72;
   
}

.footer {
    position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/ 
            height: 40px;
            background: #9775AA;
            
}

.page-content {
    margin: 50px;
    text-align: left;
}

.calculator {
    margin-left: 20px;
    width: 350px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.3);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background-color: #22252D;
    overflow: hidden;
    
}

form input {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background: #000;
    text-align: right;
    pointer-events: none;

}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

button {
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid black;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.btn-yellow {
    background-color: orange;
    color: white;
}

.btn-grey {
    background-color: grey;
    color: white;
}

.btn-green {
    background-color: green;
    color: white;
}

.btn-red {
    background-color: red;
    color: white;
}

.mb-3 {
    width: 600px;
    height: 60px;
}

.ball {
    background-color: red;
    border-radius: 100%;
    height: 50px;
    left: calc(50% - 50px);
    position: absolute;
    right: calc(50% - 50px);
    width: 50px;
    animation: bounce 1s ease-in-out infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    cursor: pointer;
    font-size: 11px;
  }

  .shadow {
    border-radius: 100%;
    bottom: 32.5%;
    left: calc(50% - 50px);
    right: calc(50% - 50px);
    position: absolute;
    content: '';
    background-color: black;
    filter: blur(3px);
    width: 50px;
    height: 5px;
    animation: shadow 1s ease-in-out infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    z-index: -1;
  }

  @keyframes bounce {
    from {
      top: 25%;
      transform: scaleX(79.5%) scaleY(65%);
    }
    to {
      top: 60%;
    }
  }

  @keyframes shadow {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: .5;
      transform: scale(100%);
    }
  }